language: ruby
bundler_args: --without debug
script: "bundle exec rspec spec"
env:
  - CI=true
rvm:
  - 2.2.5
  - 2.3.1
  - jruby-9.1.2.0
  - rbx
matrix:
  allow_failures:
      - rvm: rbx
sudo: false
