language: ruby
bundler_args: --without debug
script: "bundle exec rspec spec"
env:
  - CI=true
rvm:
  - 2.2.6
  - 2.3.3
  - jruby-9.1.6.0
  - rbx
matrix:
  allow_failures:
      - rvm: rbx
sudo: false
